rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // GELİŞTİRME MODU: Tüm okuma ve yazma işlemlerine izin verilir.
    // Canlıya alırken lütfen bu kuralları sıkılaştırın!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
